<footer class="footer">
  <div class="footer-inner">
    <div class="footer-row">

       <div class="footer-col">
       <a href="#"></a> <h4><i class="fa-solid fa-house"></i>
Home

      <div class="footer-col">
       <a href="#"></a><h4><i class="fa-utility fa-semibold fa-envelope"></i>News
      </div>

      <div class="footer-col">
       <a href="#"></a> <h4>About</h4></li>
      </div>


      <div class="footer-col">
       <a href="#"></a> <h4>Our Team</h4></li>
      </div>
      
        <div class="icons">
         
          <i class="fa-brands fa-github"> Github Repository</i>
        </div>
      </div>

    </div>
  </div>
</footer>